<!DOCTYPE html>
  <head>
    <meta content='text/html; charset=UTF-8' http-equiv='Content-Type' />
  </head>
  <body>
    <h1>Join us!</h1>

    <p>
      An invitation email.
    </p>

  </body>
</html>
