<div id="header">
  <div class="container">
    <div class="row">
      <div class="span12">
        <h1>Admin Panel</h1>
      </div>
    </div>
  </div>
</div>

<div id="content">
  <div class="container">
    <div class="row">
      <div class="span6">
        <h2>Leader Requests</h2>

        <% @requests.each do |member| %>
          <%= member.email %> has requested troop leadership.
          <br /> 
          <%= link_to "Approve #{member.email} as leader", approve_member_path(member), method: :put  %> 
          <br />          
          <%= link_to "Reject #{member.email} as leader", reject_member_path(member), method: :put %>
        <% end %>
     
      </div>
    </div>
  </div>
</div>
