<div id="landing">
  <div class="container">
    <div class="row txt-middle">
      <div class="span5">
        <center>
          <div class="well">
            <h1>Search for badge earning activities!</h1>
            <p>Explore hundreds of skill-building activities, filtering by badge, age or category.</p>
            <p><a href="#searchModal" class="btn btn-primary btn-action btn-large btn-search" data-toggle="modal">Search</a></p>
          </div>
        </center>
      </div>
      <div class="span7">
        <img src="troop.png" />
      </div>
    </div>
  </div>
</div>
  <div id="content" class="txt-middle">
    <div class="container">
      <div class="row">
      <div class="span12">
        <h2>
          Coming Soon: Join Troopli to access great features to help organize your troop!
          <%= link_to "Join Troopli", "https://scouts.campusgroups.com/login", :class => 'btn btn-primary btn-action btn-large btn-search'  %>
        </h2>
        <hr class="dashed">
      </div>
    </div>
      <div class="row">
      <div class="span4 bouncy">
        <div class="icon_wrapper">
          <a href="#searchModal" data-toggle="modal">
            <img alt="image" src="https://trickortechrat.files.wordpress.com/2015/01/lightbulb1.png?w=300&h=300">
          </a>
        </div>
      <h2>Search Activities</h2>
      <p>Bounce is built on the awesome frontend framework Bootstrap, giving you easy access to all of its features.</p>
      </div>
      <div class="span4 bouncy">
        <div class="icon_wrapper">
          <img alt="image" src="https://trickortechrat.files.wordpress.com/2015/01/homepage21.png?w=300&h=300">
        </div>
      <h2>Troop Page</h2>
      <p>Showcase your troop members' accomplishments with a beautiful badgetracker display. Add your calendar, photo album and blog. </p>
      </div>
      <div class="span4 bouncy">
        <div class="icon_wrapper">
          <a href="http://troopli.freeforums.net"><img alt="image" src="https://trickortechrat.files.wordpress.com/2015/01/forum.png?w=610"></a>
        </div>
      <h2>Discussion Forum</h2>
      <p>Visit our <a href="http://troopli.freeforums.net">message boards</a> to read and share ideas!</p>
      </div>
    </div>
    <br>
    <br>
    <br>
          <div class="row">
      <div class="span4 bouncy">
        <div class="icon_wrapper">
          <a href="/pages/blog"><img alt="image" src="https://trickortechrat.files.wordpress.com/2015/01/news21.png?w=300&h=300"></a>
        </div>
      <h2>Share News</h2>
      <p>Create your own troop blog to share info about your troop's activities and achievements with all your scouts and their families.  </p>
      </div>
      <div class="span4 bouncy">
        <div class="icon_wrapper">
          <a href="/pages/badgetracker"><img alt="image" src="https://trickortechrat.files.wordpress.com/2015/01/badge1.png?w=300&h=300"></a>
        </div>
      <h2>BadgeTracker</h2>
      <p>Manage which patches your troop has earned or would like to earn in upcoming meetings and trips.</p>
      </div>
      <div class="span4 bouncy">
        <div class="icon_wrapper">

          <a href="/pages/gallery"><img alt="image" src="https://trickortechrat.files.wordpress.com/2015/01/gallery.png?w=300&h=300"></a>

        </div>
      <h2>Share Photos</h2>
      <p>Create a troop photo gallery to organize for all your members to share photos and videos from meetings, field trips, cookie booths, etc.</p>
      </div>
    </div>
    <br>
    <br>
    <br>

    <div class="row">
      <div class="span4 bouncy">
        <div class="icon_wrapper">
          <a href="/pages/newsletter"><img alt="image" src="https://trickortechrat.files.wordpress.com/2015/01/newsletter1.png?w=300&h=300"></a>
        </div>
      <h2>Send Newsletters</h2>
      <p>Bounce is built on the awesome frontend framework Bootstrap, giving you easy access to all of its features.</p>
      </div>
      <div class="span4 bouncy">
        <div class="icon_wrapper">
          <a href="/pages/calendar"><img alt="image" src="https://trickortechrat.files.wordpress.com/2015/01/calendar1.png?w=300&h=300"></a>
        </div>
      <h2>Calendar</h2>


      <p>Bounce uses the beautiful Open Sans Google Web Font and Glyphicons Pro to deliver highly scalable icons.</p>
      </div>
      <div class="span4 bouncy">
        <div class="icon_wrapper">
          <a href="/pages/meeting"><img alt="image" src="https://trickortechrat.files.wordpress.com/2015/01/meeting1.png?w=300&h=300"></a>
        </div>
      <h2>Meeting Planner</h2>
      <p>Bounce comes with several pages and colors, giving you a head start on creating a unique design.</p>
      </div>
    </div>
    <br>
    <br>
    <br>
          <div class="row">
      <div class="span4 bouncy">
        <div class="icon_wrapper">
          <a href="/pages/scoutlist"><img alt="image" src="https://trickortechrat.files.wordpress.com/2015/01/roster1.png?w=300&h=300"></a>
        </div>
      <h2>Attendance</h2>
      <p>Bounce is built on the awesome frontend framework Bootstrap, giving you easy access to all of its features.</p>
      </div>
      <div class="span4 bouncy">
        <div class="icon_wrapper">
          <a href="/pages/budget"><img alt="image" src="https://trickortechrat.files.wordpress.com/2015/01/budget1.png?w=300&h=300"></a>
        </div>
      <h2>Budget Worksheet</h2>
      <p>Bounce uses the beautiful Open Sans Google Web Font and Glyphicons Pro to deliver highly scalable icons.</p>
      </div>
      <div class="span4 bouncy">
        <div class="icon_wrapper">

          <a href="/pages/jobs"><img alt="image" src="https://trickortechrat.files.wordpress.com/2015/01/jobs1.png?w=300&h=300"></a>

        </div>
      <h2>Jobs/Kaper Chart</h2>
      <p>Bounce comes with several pages and colors, giving you a head start on creating a unique design.</p>
      </div>
    </div>


    <hr class="dashed">
      <div class="row">
      <div class="span4">
      <a class="thumbnail" href="">
        <img alt="image" src="https://trickortechrat.files.wordpress.com/2015/01/hands.jpg?w=612&h=312">
      </a>
      <h2>New Blog Post!</h2>
      <p>10 Ways For Daisies to Earn the Yellow Petal</p>
      <br>
      <p>Intersted in writing a guest blog post?  Contact us!</p>
      </div>
      <div class="span4">
      <a class="thumbnail" href="">
        <img alt="image" src="https://trickortechrat.files.wordpress.com/2015/01/pic.jpg?w=612&h=312">
      </a>
      <h2>Troop of the Month!</h2>
      <p>Daisy Troop 4730 (Long Island City, NY)</p>
      </div>
      <div class="span4">
      <a class="thumbnail" href="">
        <img alt="image" src="https://trickortechrat.files.wordpress.com/2015/01/troop.png?w=612&h=312">
      </a>
      <h2>Join Troopli!</h2>
      <p>Troop leaders:  We'd love to hear your feedback!  Contact us if you'd like to become a beta tester.  All age levels welcome!</p>
      </div>
    </div>

    </div>
  </div>

<%= render partial: 'layouts/search' %>
