<div id="header">
  <div class="container">
    <div class="row">
      <div class="span12">
        <h1>New Event for <%= link_to current_member.troop.name, current_member.troop %></h1>
        <%= simple_form_for @event, url: troop_events_path do |f| %>
          <%= render "form", f: f %>
        <% end %>
      </div>
    </div>
  </div>
</div>
