<p><span style="font-size:14px;"><span style="font-family:arial,helvetica,sans-serif;">We want to help Girl Scout troops have the best, most rewarding experience -- this starts with equipping volunteer troop leaders with a place to get organized and tools to manage their troops, at no charge to themselves or their troops.</span></span></p>
<p><span style="font-size:14px;"><span style="font-family:arial,helvetica,sans-serif;">Girl Scouts, in particular, have very different needs and resources necessary than other types of scouts and organizations, and, as such, Troopli is entirely focused on the experience of Girl Scout troops only.</span></span></p>
<p><span style="font-size:14px;"><span style="font-family:arial,helvetica,sans-serif;">We are building custom features and will be launching these and other Troopli projects, but for now, we&#39;ve got you covered with a curated selection of helpful, free apps anyone can use.</span></span></p>
<h3>
	<span style="font-size:14px;"><span style="font-family:arial,helvetica,sans-serif;">Troopli</span></span></h3>
<p><span style="font-size:14px;"><span style="font-family:arial,helvetica,sans-serif;">It all started as a project (Troop Hub) by 4 female web development students at Flatiron School, including 1 Daisy troop leader who knew firsthand how much leaders could benefit from a place to manage their troops for free. &nbsp;The amount of info floating around to help organize a troop and plan activities is quite overwhelming and unorganized.</span></span></p>
<p><span style="font-size:14px;"><span style="font-family:arial,helvetica,sans-serif;">Emma, Alisha, Miriam &amp; Stephanie</span></span></p>

<img src="http://media-cache-ak0.pinimg.com/236x/7d/96/d9/7d96d9749fa8056278395d7ffcd818d9.jpg" />