<h1>Create a Badgetracker Chart</h1>
<ol>
<li><p>Click on this badgetracker chart template.</p></li>
<li><p>Copy the document for your troop's age level and add your troop's information.</p></li>
<li><p>Send us the link to your shared document, and we can easily embed your badgetracker chart into your troop page!</p></li>
</ol>
