<h1>Create a Badgetracker Chart</h1>
<ol>
<li><p>Click on a badgetracker chart template (below) to go to the Google sheet.</p></li>
<li><p>Click File and then click "Make a Copy" in the dropdown menu.</p></li>
<li><p>Rename your badgetracker sheet whatever you'd like.  Ex.: Brownie Troop 123 Badges</p></li>
<li><p>Add your troop's information and use the badgetracker chart to plan future meetings and track achievements.</p></li>
<li><p>Send us the link to your shared document, and we can easily embed your badgetracker chart into your troop page!</p></li>
</ol>

<h3>Choose your troop's level</h3>
<ul>
<li><p><a href="https://docs.google.com/spreadsheets/d/1Ousi6UHL_eswVNQZCALpUkftYFyThBBHJoQVMjquLF8/edit?usp=sharing" target="_blank">Daisy</a></p></li>
<li><p><a href="https://docs.google.com/spreadsheets/d/1lMZ8YFTOt5jUB6cN9_DyTzXCdbbDL8VxiwFYBrbsJ8Y/edit?usp=sharing" target="_blank">Brownie</a></p></li>
<li><p><a href="https://docs.google.com/spreadsheets/d/1dPs2HcyCKlff-oHLmTA64mUAFqZB1ppr40VnMZSQ-bM/edit?usp=sharing" target="_blank">Junior</a></p></li>
<li><p><a href="https://docs.google.com/spreadsheets/d/17sY4c2sBMHujOsb9qr0Mv8RvniNMyb7em2l5SP9drRo/edit?usp=sharing" target="_blank">Cadette</a></p></li>
<li><p><a href="https://docs.google.com/spreadsheets/d/1OmmBJ4MMLNvKOh_6J6gIbQO8N9pbqCgfRxe99pAM5P0/edit?usp=sharing" target="_blank">Senior</a></p></li>
<li><p><a href="https://docs.google.com/spreadsheets/d/1LBN-BL6C8w-CMwwE94yu9fPDjvsVxe_PPshYEJm7tnY/edit?usp=sharing" target="_blank">Ambassador</a></p></li>
</ul>