<h1>Set up a troop calendar</h1>

<p><font face="arial, helvetica, sans-serif"><span style="font-size: 14px;">We are building our own custom calendar system! &nbsp;In the meantime, here&#39;s how to set up a free calendar to share with your troop!</span></font></p>
<p>&nbsp;</p>
<ol>
<li>Set up a <a href="https://support.google.com/calendar/answer/37095?hl=en" target="_blank">Google calendar</a> for your troop in a few easy steps. <a href="https://support.google.com/calendar/answer/37095?hl=en"></a>
</li>

<li>Add meetings, events, trips, etc.
<FORM METHOD="LINK" ACTION="https://support.google.com/calendar/answer/72143?hl=en">
<INPUT TYPE="submit" VALUE="Add events">
</FORM>
</li>

<li>Add it to your own Troop.li page!  We can easily embed your shared calendar onto your troop's home page for all to view.
</li>

<li>You can also use this great, free <a href="https://www.teacherspayteachers.com/Product/Girl-Scout-Troop-Calendar-868704" target="_blank">troop meeting calendar</a> to plan your troop's agenda! 
</li>
</ol>

