<h1>Create a Meeting Agenda Planner</h1>
<ol>
<li><p>Create a Meeting Agenda Planner on Google Docs.</p></li>
<li><p>Copy the document and add your troop's information.</p></li>
<li><p>Easily access on mobile device with Google docs, share the meeting itinerary by email or print.</p></li>
<li><p>Send us the link to your shared document, and we can easily embed your meeting planner into your troop page!</p></li>
</ol>
