<h1>Create a Meeting Agenda Planner</h1>
<ol>
<li><p>Create a <a href="https://docs.google.com/spreadsheets/d/1oNspZQcQTfagOVmY1RJ_77UhQrlWmWZH57Z1xzxiUrQ/edit?usp=sharing" target="_blank">Meeting Agenda Planner</a> on Google Docs with this customizable template!</p></li>
<li><p>Click File and then click "Make a Copy" in the dropdown menu.</p></li>
<li><p>Rename your meeting agenda planner sheet whatever you'd like.  Ex.: Brownie Troop 123 Agenda Planner</p></li>
<li><p>Add your troop's information and use the agenda planner sheet to plan future meetings, gather supplies, share, or print for your own reference to follow during your next meeting.  Click File and then Print in the dropdown menu.</p></li>
<li><p>Easily access on mobile device with Google docs, share the meeting itinerary by email or print.</p></li>
<li><p>Send us the link to your shared document, and we can easily embed your meeting planner into your troop page!</p></li>
</ol>