<h1>Create a Troop Newsletter</h1>
<ol>
<li><p>Create a free, branded troop newsletter on <a href="http://mailchimp.com/pricing/free/" target="_blank">MailChimp</a>.</p></li>
<li><p>Create an account on MailChimp or login to create your troop's first email newsletter.</p></li>
<li><p>Follow the directions to easily create your newsletter.  Add photos of your troop's activities, news, upcoming events, calls for volunteers and supplies, etc.</p></li>
<li><p>Send us the link to your shared document, and we can easily embed your newsletters into your troop page!</p></li>
</ol>