<h1>Create an Attendance Roster</h1>
<ol>
<li><p>Create a troop attendance roster on <a href="https://docs.google.com/document/d/1ag5UzRQ3IiOhyZ8u9adNabhDeUlGud283KIPiULJrrI/edit?usp=sharing" target="_blank">Google Docs</a>.</p></li>
<li><p>Click File and then click "Make a Copy" in the dropdown menu.</p></li>
<li><p>Rename your attendance sheet whatever you'd like.  Ex.: Brownie Troop 123 Attendance Sheet, Scout List, etc.</p></li>
<li><p>Add your troop's information and use the attendance sheet at meetings, field trips, and to track badgework and achievements.</p></li>
<li><p>Easily print a copy for use at meetings or access on your mobile device.  Click File and then Print in the dropdown menu.</p></li>
<li><p>Send us the link to your shared document, and we can easily embed your scout list into your troop page!</p></li>
</ol>