<h1>Create an Attendance Roster</h1>
<ol>
<li><p>Create a troop attendance roster on Google Docs.</p></li>
<li><p>Copy the document and add your troop's information.</p></li>
<li><p>Easily print a copy for use at meetings or access on your mobile device.</p></li>
<li><p>Send us the link to your shared document, and we can easily embed your scout list into your troop page!</p></li>
</ol>
