/*
 *= require vendor_stylesheets
 *= require jquery.ui.all
 *= require_tree .
*/

.ui-autocomplete { z-index:2147483647; }

a.btn.btn-primary.btn-action.btn-large.btn-search {
  color: white;
  font-weight: 900;
  margin-top: 5px;
}
