/*
 *= require vendor_stylesheets
 *= require jquery.ui.all
 *= require_tree .
*/

.ui-autocomplete { z-index:2147483647; }

a.btn.btn-primary.btn-action.btn-large.btn-search {
  color: white;
  font-weight: 900;
  margin-top: 5px;
}
#landing .js-video img {
    -webkit-box-shadow: 0 0 15px 0 rgba(0,0,0,0.2);
    -moz-box-shadow: 0 0 15px 0 rgba(0,0,0,0.2);
    box-shadow: 0 0 15px 0 rgba(0,0,0,0.2);
}
