<div id="toggle-stats", style="display: none;">
  <div class="row-fluid">
    <div class="span12 calendar-header">
      <a href: "#"><i class="fa fa-toggle-left fa-2x"></i></a>
        <div class="calendar-month">
          <%= "#{@date.strftime("%B")} #{@date.year}" %>
        </div>
      <a href: "#"><i class="fa fa-toggle-right fa-2x"></i></a>
    </div>
  </div>

  <div class="row-fluid">
    <div class="span12 calendar-box">
      <%= calendar @date do |date| %>
        <%= date.day %>
        <% if @events_by_date.any? { |e| e.start_at.day == date.day } %>
          <ul>
            <% @events_by_date.each do |event| %>
              <li><%= event.name %></li>
            <% end %>
          </ul>
        <% end %>
      <% end %>
      <div class="calendar-background"></div> 
    </div>
  </div>
</div>
