<% events.each do |event| %>

  <div class="accordion-inner">
    <div class="media">
      <div class="media-body">
        <h4 class="media-heading"><%= link_to event.name, troop_event_path(troop_id: @troop.id, id: event.id) %></h4>
        <ul class="unstyled">
          <li><small><%= display_date event.start_at %><small></li>
        </ul>
      </div>
    </div>
  </div>

<% end %>
