<div class="span8 feed">
  <div class="entry">
    <a href="#"><h2>News Feed</h2></a>
    <small><em>Dynamic news feed is not dynamic yet.</a></em></small>
    <hr>
    <div class="row-fluid">
      <div class="span9">
        <p>This is a placeholder for a newsfeed.
        It should be styled slightly differently than the
        welcome box. But it's here as a reminder to-do
        and example of what the newsfeed will consist of.</p>
        <button class="btn btn-primary">Read More</button>
      </div>
    </div>
  </div>
</div>
