<div class="span4">
  <div class="accordion" id="accordion2">
    <div class="accordion-group">
      <div class="accordion-heading">
        <a class="accordion-toggle" data-toggle="collapse" data-parent="#accordion2" href="#collapseOne">Next Three Events</a>
      </div>
      <div id="collapseOne" class="accordion-body collapse">
        <div class="accordion-inner">
          <div class="media">
            <a class="pull-left" href="#">
              <img class="media-object" alt="image" src="http://quickimage.it/64x64">
            </a>
            <div class="media-body">
              <h4 class="media-heading">An Event</h4>
              <ul class="unstyled">
                <li><small>Date</small></li>
                <li><small>Location</small></li>
              </ul>
            </div>
          </div>
        </div>
      </div>
    </div>

    <div class="accordion-group">
      <div class="accordion-heading">
        <a class="accordion-toggle" data-toggle="collapse" data-parent="#accordion2" href="#collapseTwo">Badges</a>
      </div>

      <div id="collapseTwo" class="accordion-body collapse">
        <div class="accordion-inner">
          <li>Eh</li> 
        </div>
      </div>
    </div>
  </div>
</div>
