<div class="entry welcome-entry">
  <h2 class="welcome-header">Welcome to Troopli!</h2>
  <div class="welcome-header">
    <i class="fa fa-calendar fa-3x"></i>
    <br />
    <small><em>Click the calendar icon to view your calendar.</em></small>
  </div> 
  <hr>
  <div class="row-fluid">
    <div class="span3">
      <a href="#">
        <%= image_tag @troop.picture.url %>
      </a>
    </div>
    <div class="span9">
      <p>
        Welcome to Troopli! I am a hard-coded text box where a welcome message can be displayed.
      </p>

      <p>
      I could be a link to <a href="#">meet our scouts</a>!
      </p>

      <p>
      <strong>Name:</strong>
      <%= @troop.name %>
      </p>

      <p>
      <strong>Description:</strong>
      <%= @troop.description %>
      </p>

      <p>
      <strong>Age level:</strong>
      <%= @troop.age_level %>
      </p>
    </div>
  </div>
</div>
