<div id="content">
  <div class="container txt-lefty">
    <div class="row-fluid">
      <div class="span12">
        <%= render "welcome" %>
      </div>
    </div>
    <div id="anchor"></div>    
    <%= render "calendar" %>

    <div class="row-fluid">
      <%= render "sidebar" %>
      <%= render "feed" %>
    </div>
  </div>
</div>
